VITE_SUPABASE_URL=https://aijmuswbiemrguchjobm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_4_yWpmGj4o9qMNUs2FWjig_Ilh0vsec
VITE_SUPABASE_STORAGE_BUCKET=app-media
VITE_STOREFRONT_URL=http://localhost:5174

VITE_CLOUDINARY_CLOUD_NAME=751253689981192
VITE_CLOUDINARY_UPLOAD_PRESET=751253689981192
VITE_CLOUDINARY_FOLDER=uripos
